@if (food) {
    <mat-card class="w-80">
        <img mat-card-image src="{{food.image}}" alt="{{food.description}}">
        
        <mat-card-header>
            <mat-card-title class="!font-medium !text-xl">{{food.name | titlecase}}</mat-card-title>
            <mat-card-subtitle class="!font-mono !text-lg">{{food.category | titlecase}} | {{food.price | currency: 'MXN'}}</mat-card-subtitle>
          </mat-card-header>
    
        <mat-card-content class="!pt-4">
          <p>
            {{food.description}}
          </p>
        </mat-card-content>
    
        <mat-card-actions class="flex gap-4">
          
          <a [routerLink]="['/food/form', food.id]" mat-raised-button color="accent">Actualizar</a>
          <button mat-raised-button color="warn" (click)="openDialog(food)">Borrar</button>
          <a [routerLink]="['/food/food-details', food.id]" mat-flat-button color="primary" extended>
            Ver <mat-icon>visibility</mat-icon> 
          </a>
          
        </mat-card-actions>
    </mat-card>
}